{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block page_title %}
    Utilisateurs | {{ settings.name }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/root.css" %}">
    <link rel="stylesheet" href="{% static "css/list.css" %}">
    <link rel="stylesheet" href="{% static "css/deleteModal.css" %}">
    <script defer src="{% static "js/tableActionsDropDown.js" %}"></script>
    <style>
        /* Add this to your CSS file */
        .permission {
            display: flex;
            justify-content: center;

        }

        .permission > * {
            min-width: max-content;
            text-align: center;
            display: block;
            padding: 2px 8px;
            border-radius: 12px;
            margin-right: 4px;
            margin-bottom: 4px;
            font-weight: 500;
            flex:1;
        }
        .permission .superuser {
            background-color: #fffad7;
            color: #8a6d3b;
        }

        .permission .create {
            background-color: #dff0d8;
           color: #3c763d;
        }

        .permission .update {
            background-color: #d9edf7;
            color: #31708f;
        }

        .permission .delete {
            background-color: #f2dede;
            color: #a94442;
        }


        .status {
            max-width: 70px;
        }

        .status > *{
            text-align: center;
            display: block;
            padding: 2px 8px;
            border-radius: 12px;
            font-weight: 500;
            min-width: max-content;
        }
        .status .active {
            background-color: #28a745;
            color: white;
        }

        .status .inactive, .permission .none,.empty{
            padding: 2px 24px;
            border-radius: 12px;
            font-weight: 500;
            background-color: #eee;
            color: #333;
            opacity: 0.5;
        }
    </style>
{% endblock %}

{% block content %}
    {% include "messages.html" %}

    <div class="header">
        <h1>Utilisateurs</h1>
        {% if perms.auth.add_user %}
            <a class="btn-icon" href="{% url "create-user" %}">
                <i class="fa-solid fa-plus"></i>
            </a>
        {% endif %}
    </div>

    <div class="list-container">
        <form class="search-box" method="get" action="{% url 'users-list' %}">
            <input type="text" name="search" placeholder="Search by username" value="{{ search | default:"" }}">
            <button type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>

        <div class="table-container">
            <table>
                <thead>
                <tr>
                    <th>Utilisateur</th>
                     <th>Email</th>
                    <th>État</th>
                    <th>Permissions</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td class="name">{{ user.username }}</td>
                        <td>{% if user.email %} {{ user.email }} {% else %} <span class="empty">vide</span> {% endif %}</td>
                        <td class="status">
                            {% if user.is_active %}
                                <span class="active">activé</span>
                            {% else %}
                                <span class="inactive">désactivé</span>
                            {% endif %}
                        </td>
                        <td class="permission">
                            {% if user.is_superuser %}
                                <span class="superuser">admin</span>
                            {% else %}
                                {% if user|group:"Create" %}
                                    <span class="create">créer</span>
                                {% endif %}
                                {% if user|group:"Update" %}
                                    <span class="update">modifier</span>
                                {% endif %}
                                {% if user|group:"Delete" %}
                                    <span class="delete">supprimer</span>
                                {% endif %}
                                {% if not user|group:"Create" and not user|group:"Update" and not user|group:"Delete" %}
                                    <span class="none">aucune</span>
                                {% endif %}

                            {% endif %}
                        </td>

                        {% if perms.auth.change_user or perms.auth.delete_user %}
                                <td class="actions-cell">
                                    <button class="actions-button"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                                    <div class="dropdown-menu">

                                            <a href="{% url 'edit-user' user.id %}" class="dropdown-item edit">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                                Modifier
                                            </a>
                                        {% if user.id != request.user.id %}
                                        <form  action="{% url 'change-user-status' user.id %}" method="post" style="display: inline;">
                                            {% csrf_token %}
                                            <button type="submit" class="dropdown-item edit" data-id="{{ user.id }}" data-name="{{ user.username }}">
                                                <i class="fa-solid {% if user.is_active %}fa-user-slash{% else %}fa-user-check{% endif %}"></i>
                                                {% if user.is_active %}Desactiver{% else %}Activater{% endif %}
                                            </button>
                                        </form>


                                            <form class="delete-form" action="{% url 'delete-user' user.id %}" method="post" style="display: inline;">
                                                {% csrf_token %}
                                                <button type="button" class="dropdown-item delete" data-id="{{ user.id }}" data-name="{{ user.username }}">
                                                    <i class="fa-solid fa-user-minus"></i>
                                                    Supprimer
                                                </button>
                                            </form>
                                        {% endif %}

                                    </div>
                                </td>
                        {% endif %}
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="100%">
                            Aucun utilisateur trouvé
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="pagination">
            {% if users.has_previous %}
                <a class="pagination-link" href="?page={{ users.previous_page_number }}{% if search %}&search={{ search }}{% endif %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="pagination-icon prev-page">
                        <polyline points="15 18 9 12 15 6"></polyline>
                    </svg>
                </a>
            {% endif %}

            <p>
                Page {{ users.number }} of {{ users.paginator.num_pages }}
            </p>

            {% if users.has_next %}
                <a class="pagination-link" href="?page={{ users.next_page_number }}{% if search %}&search={{ search }}{% endif %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="pagination-icon next-page">
                        <polyline points="9 18 15 12 9 6"></polyline>
                    </svg>
                </a>
            {% endif %}
        </div>
    </div>

    {% include "deleteModal.html" %}
{% endblock %}