

{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% load humanize %}

{% block page_title %}
    Facture Detail #{{ invoice.id }}/OT/{{ invoice.date | date:"Y" }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/list.css" %}">
    <link rel="stylesheet" href="{% static "css/messages.css" %}">
    <link rel="stylesheet" href="{% static "css/deleteModal.css" %}">

{% endblock %}

{% block content %}
    <a class="btn-back" href="{% url 'invoices-list' %}">
        <?xml version="1.0" encoding="UTF-8"?>
        <svg width="16px" height="16px" viewBox="0 0 24 24" stroke-width="1.5" fill="none"
             xmlns="http://www.w3.org/2000/svg" color="#000000">
            <path d="M21 12L3 12M3 12L11.5 3.5M3 12L11.5 20.5" stroke="#000000" stroke-width="1.5"
                  stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
        Back
    </a>
    {% include "messages.html" %}

    <div class="details-container">
        <header class="header">
            <div class="details-info">
                <h1>Facture #{{ invoice.id }}/OT/{{ invoice.date | date:"Y" }}</h1>
                <p><strong>{{ invoice.client.name }}</strong></p>
                <p><strong>{{ invoice.client.address }}</strong></p>
                <p><strong>ICE: {{ invoice.client.ice }}</strong></p>
                <p><strong>Date: </strong> {{ invoice.date }}</p>
            </div>
            <a class="btn-icon" href="{% url "invoice-pdf" invoice.id %}">
                <i class="fa-solid fa-file-pdf"></i>
                <p>Print</p>
            </a>
        </header>

        <div>
            <div class="products-details-header">
                <h2>Products</h2>
                {% if perms.invoices.change_invoiceout %}
                <a class="btn-icon" href="{% url "invoice-add-product" invoice_id=invoice.id %}">
                    <i class="fa-solid fa-plus"></i>
                    <p>Add</p>
                </a>
                {% endif %}
            </div>
           <div class="table-container">
                <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Price per unit</th>
                    <th>Total</th>
                    {% if perms.invoices.change_invoiceoutproduct %}
                        <th>Actions</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for item in products %}
                    <tr>
                        <td class="name">{{ item.product.name }}</td>
                        <td>{{ item.product.description }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.price_at_invoice|format_currency }} MAD</td>
                        <td>{{ item.price_at_invoice|multiply:item.quantity|format_currency }} MAD</td>
                        {% if perms.invoices.change_invoiceoutproduct %}
                        <td>

                            <form class="delete-form" action="{% url 'invoice-delete-product' invoice.id item.id %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <button type="button" class="dropdown-item delete" data-id="{{ item.product.id }}" data-name="{{item.product.name}}">
                                    <i class="fa-solid fa-trash"></i>
                                    Delete
                                </button>
                            </form>

                        </td>
                        {% endif %}
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6">No products found.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
           </div>
        </div>

        <div>
            <div class="services-details-header">
                <h2>Services</h2>
                {% if perms.invoices.change_invoiceout %}
                <a class="btn-icon" href="{% url "invoice-add-service" invoice_id=invoice.id %}">
                    <i class="fa-solid fa-plus"></i>
                    <p>Add</p>
                </a>
                {% endif %}
            </div>
            <div class="table-container">
                <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Price per unit</th>
                    <th>Total</th>
                    {% if perms.invoices.change_invoiceoutservice %}
                    <th>Actions</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for item in services %}
                    <tr>
                        <td class="name">{{ item.service.name }}</td>
                        <td>{{ item.service.description }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.price_at_invoice|format_currency }} MAD</td>
                        <td>{{ item.price_at_invoice|multiply:item.quantity|format_currency }} MAD</td>
                        {% if perms.invoices.change_invoiceoutservice %}
                            <td>

                                <form class="delete-form" action="{% url 'invoice-delete-service' invoice.id item.id %}" method="post" style="display: inline;">
                                    {% csrf_token %}
                                    <button type="button" class="dropdown-item delete" data-id="{{ item.service.id }}" data-name="{{item.service.name}}">
                                        <i class="fa-solid fa-trash"></i>
                                        Delete
                                    </button>
                                </form>

                            </td>
                        {% endif %}

                {% empty %}
                    <tr>
                        <td colspan="6">No services found.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>

        <div class="details-totals">
            <p><strong>Total HT:</strong> {{ invoice.total_ht|format_currency }} MAD</p>
            <p><strong>TVA 20%:</strong> {{ invoice.total_tva|format_currency }} MAD</p>
            <p><strong>Total TTC:</strong> {{ invoice.total_ttc|format_currency }} MAD</p>
        </div>
    </div>
    {% include "deleteModal.html" %}
    <script src="{% static "js/messages.js" %}"></script>
{% endblock %}


