{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block page_title %}
    Devis List | {{ settings.name }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/root.css" %}">
    <link rel="stylesheet" href="{% static "css/list.css" %}">
    <link rel="stylesheet" href="{% static "css/deleteModal.css" %}">
    <script defer src="{% static "js/tableActionsDropDown.js" %}"></script>
{% endblock %}

{% block content %}
    {% include "messages.html" %}

    <div class="header">
        <h1>Devis</h1>

    {% if perms.quotes.add_quoteout %}
        <a class="btn-icon" href="{% url "create-quote" %}">
            <i class="fa-solid fa-plus"></i>
            Add new
        </a>
    {% endif %}
    </div>

    <div class="list-container">
        <form class="search-box" method="get" action="{% url 'quotes-list' %}">
            <input type="text" name="search" placeholder="Search by name" value="{{ search | default:"" }}">
            <button type="submit">
               <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>

       <div class="table-container">
            <table>
            <thead>
            <tr>
                <th>N°</th>
                <th>Date</th>
                <th>Client</th>
                <th>Total HT</th>
                <th>Total TTC</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for quote in quotes %}
                <tr>
                    <td class="name">{{ quote.id }}/OT/{{ quote.date | date:"Y" }}</td>
                    <td>{{ quote.date }}</td>
                    <td>{{ quote.client }}</td>
                    <td>{{ quote.total_ht|format_currency }} MAD</td>
                    <td>{{ quote.total_ttc|format_currency }} MAD</td>
                    <td><p class="type">{% if quote.is_converted %} Converted {% else %} Not converted {% endif %}</p></td>
                    <td class="actions-cell">
                        <button class="actions-button"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                        <div class="dropdown-menu">
                            <a href="{% url 'quote-pdf' quote.id %}" class="dropdown-item edit">
                              <i class="fa-solid fa-file-pdf"></i>
                                Print
                            </a>
                            {% if not quote.is_converted %}
                            <a href="{% url 'quote-to-invoice' quote.id %}" class="dropdown-item edit">
                                <i class="fa-solid fa-right-left"></i>
                                Convert to invoice
                            </a>
                            {% else %}
                                <a href="{% url 'invoice-detail' quote.invoice_id %}" class="dropdown-item edit">
                                    <i class="fas fa-file-invoice-dollar"></i>
                                    Go to the invoice
                                </a>
                            {% endif %}
                            <a href="{% url 'quote-detail' quote.id %}" class="dropdown-item edit">
                             <i class="fa-solid fa-ellipsis"></i>

                                Details
                            </a>
                           {% if perms.quotes.delete_quoteout %}
                               <form class="delete-form" action="{% url 'delete-quote' quote.id %}" method="post" style="display: inline;">
                                   {% csrf_token %}
                                   <button type="button" class="dropdown-item delete" data-id="{{ quote.id }}" data-name="{{ quote.id }}/OT/{{ quote.date|date:"Y" }}">
                                       <i class="fa-solid fa-trash"></i>
                                       Delete
                                   </button>
                               </form>
                               {% endif %}
                        </div>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="100%">
                        No quote found.
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
       </div>

        <div class="pagination">

            {% if quotes.has_previous %}
                <a class="pagination-link" href="?page={{ quotes.previous_page_number }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="pagination-icon prev-page">
                        <polyline points="15 18 9 12 15 6"></polyline>
                    </svg>
                </a>
            {% endif %}

            <p>
                Page {{ quotes.number }} of {{ quotes.paginator.num_pages }}
            </p>

            {% if quotes.has_next %}
                <a class="pagination-link" href="?page={{ quotes.next_page_number }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="pagination-icon next-page">
                        <polyline points="9 18 15 12 9 6"></polyline>
                    </svg>
                </a>
            {% endif %}

        </div>
    </div>



    {% include "deleteModal.html" %}
{% endblock %}


