{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block page_title %}
    Services List | {{ settings.name }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/root.css" %}">
    <link rel="stylesheet" href="{% static "css/list.css" %}">
    <link rel="stylesheet" href="{% static "css/deleteModal.css" %}">
    <script defer src="{% static "js/tableActionsDropDown.js" %}"></script>
{% endblock %}

{% block content %}
    {% include "messages.html" %}

    <div class="header">
        <h1>Services</h1>
        {% if perms.services.add_service %}
        <a class="btn-icon" href="{% url "create-service" %}">
            <i class="fa-solid fa-plus"></i>
        </a>
    {% endif %}
    </div>

    <div class="list-container">
        <form class="search-box" method="get" action="{% url 'services-list' %}">
            <input type="text" name="search" placeholder="Recherche" value="{{ search | default:"" }}">
            <button type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>

       <div class="table-container">
            <table>
            <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                {% if perms.services.change_service or perms.services.delete_service  %}
                    <th>Actions</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for service in services %}
                <tr>
                    <td class="name">{{ service.name }}</td>
                    <td>{{ service.description }}</td>
                    <td>{{ service.price|format_currency}} MAD</td>
                    {% if perms.services.change_service or perms.services.delete_service  %}
                    <td class="actions-cell">
                        <button class="actions-button"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                        <div class="dropdown-menu">
                            {% if perms.services.change_service %}
                            <a href="{% url 'edit-service' service.id %}" class="dropdown-item edit">
                               <i class="fa-solid fa-pen-to-square"></i>
                                Modifier
                            </a>
                            {% endif %}
                            {% if perms.services.delete_service %}
                            <form class="delete-form" action="{% url 'delete-service' service.id %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <button type="button" class="dropdown-item delete" data-id="{{ service.id }}" data-name="{{ service.name }}">
                                    <i class="fa-solid fa-trash"></i>
                                    Supprimer
                                </button>
                            </form>
                            {% endif %}
                        </div>
                    </td>
                    {% endif %}
                </tr>
            {% empty %}
                <tr>
                    <td colspan="100%">
                        Aucun service trouvé.
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
       </div>

        <div class="pagination">

            {% if services.has_previous %}
                <a class="pagination-link" href="?page={{ services.previous_page_number }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="pagination-icon prev-page">
                        <polyline points="15 18 9 12 15 6"></polyline>
                    </svg>
                </a>
            {% endif %}

            <p>
                Page {{ services.number }} of {{ services.paginator.num_pages }}
            </p>

            {% if services.has_next %}
                <a class="pagination-link" href="?page={{ services.next_page_number }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="pagination-icon next-page">
                        <polyline points="9 18 15 12 9 6"></polyline>
                    </svg>
                </a>
            {% endif %}

        </div>
    </div>



    {% include "deleteModal.html" %}
{% endblock %}


